body {
font font-family: arial;
width:375;
height:667;


}

h1 {
    color:black;
    text-align: center;
    font-size: 24px;
    border-style: dotted;
    width: auto;

}
.quiz-contanier{
    display:flex;
    justify-content: space-between;
    margin: 20px;
}
.box1, .box2{ 
    color:rgb(67, 53, 53);
    text-align: center;
    font-size: 24px;
    border-style: solid; 
    width: auto;
}
h2{
    color:black
}
p{
    color:rgb(124, 81, 81);
}
footer{
    background-color:none;
    padding: 10px;
    text-align: center;
}
.options{
    list-style-type: none;
    padding: 0;
}
.options li {
    display: inline-block;
    margin-right: 15px;
}
.options li a{
    text-decoration: none;
    color:black;
}