html{
    background-color: bisque;
}

body {
font-family: Arial;
width:375px;
height:667px;


}

h1 {
    color:black;
    text-align: center;
    font-size: 24px;
    border-style: dotted;
    width: auto;

}
.quiz-contanier{
    display:flex;
    justify-content: space-between;
    margin: 20px;
}
.box1, .box2{ 
    color:rgb(67, 53, 53);
    text-align: center;
    font-size: 24px;
    border-style: solid; 
    width: auto;
    
}
ul{
    list-style-type: none;
}
h2{
    color:black
}
p{
    color:rgb(206, 87, 87);
}
footer{
    padding: 10px;
    text-align: center;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    /*e dyta vendos Sign ne qender horizontale, e treta te gjitha ne qender vertikale*/
   
}
.left{
margin-right: auto;
}
.right{
    margin-left: auto;
}
.center{
    margin: auto;
    
}